<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title</label>
    <input name="title" #mytitle>
  </div>

  <div class="field">
    <label for="link">Link</label>
    <input name="link" #mylink>
  </div>
  <button (click)="addArticle(mytitle,mylink)" class="ui Submit button">Submit</button>
  
  <div class="ui grid my posts">
    <!-- <app-article [article]=articles[0]></app-article>
    <app-article [article]=articles[1]></app-article>
    <app-article [article]=articles[2]></app-article> -->
    <app-article *ngFor="let oneArticle of sortedArticles()" [article]="oneArticle"></app-article>
  </div>
</form>